<section id="keempat" class="faktor__section">
    <h2>Kenapa seseorang dapat <span>terjerumus</span> ke dalam LGBT?</h2>
    <div class="container">
        <div class="title-container">
            <div class="line"></div>
            <h2>Hubungan seksual tanpa kondom</h2>
        </div>
        <p>Seks tanpa kondom berisiko menyebabkan tertular IMS seperti HIV, sifilis, gonore, dan klamidia.
        </p>
    </div>
    <div class="container">
        <div class="title-container">
            <div class="line"></div>
            <h2>Berganti-ganti pasangan</h2>
        </div>
        <p>Berganti-ganti pasangan tanpa kondom makin meningkatkan risiko IMS (HIV, sifilis, gonore, klamidia) dan memperbesar peluang penularan cepat antarpasangan.
        </p>
    </div>
    <div class="container">
        <div class="title-container">
            <div class="line"></div>
            <h2>Kurangnya edukasi seksual</h2>
        </div>
        <p>Kurangnya edukasi seksual membuat orang lebih rentan tidak pakai kondom dan orang tidak sadar bahaya IMS.
        </p>
    </div>
</section>

<style>
    .faktor__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 50dvh;
        width: 100vw;
        padding: 4.5em 0 0 0;
        gap: .75em;
    }

    h2 {
        font-size: 1.85rem;
        max-width: 90%;
        text-align: right;
        padding-inline: 10px;
        text-align: left;
    }
    h2 span {
        background-color: #D59990;
        padding-inline: .25em;
        color: white;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 70px;
        border: 1px solid #3c3c431f;
        border-radius: 10px;
        width: 81%;
        min-height: fit-content;
        padding: 1.25em 1em .35em 1em;
        background: linear-gradient(
            120deg,
            #ffffff 85%,
            rgba(142, 36, 170, 0.02) 100%
        );
    }

    .line {
        border-left: 2.5px solid #D59990;
    }

    .title-container {
        display: flex;
        gap: .35em;
    }

    .title-container h2 {
        font-size: 1.15rem;
        text-align: left;
        padding: 0;
        margin: 0;
    }

    p {
        max-width: 90%;
        opacity: 70%;
        margin-top: 3px;
    }
</style>