<footer>
    <p>&copy; 2025 Dampak Perilaku Menyimpang. All rights reserved.</p>
</footer>

<style>
    footer {
        background-color: #d59990ae;
        width: 100vw;
        height: 50px;
    }

    p {
        text-align: center;
        color: white;
        font-size: 14px;
        font-weight: 500;
    }
</style>