<section class="reason__section">
    <h2>Mengapa perilaku LGBT sangat berbahaya?</h2>
    <div class="inner-container">
        <div class="desc">Penjelasan Resiko</div>
        <div class="card-metric">metric 1 HIV/AIDS</div>
        <div class="card-metric">metric 2 Penyakit lainnya</div>
    </div>
</section>

<style>
    .reason__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 50dvh;
        width: 100vw;
        padding: 4.5em 0 0 0;
    }

    h2 {
        font-size: 1.5rem;
        max-width: 100%;
        text-align: right;
        padding-inline: 10px;
    }

    .inner-container {
        display: flex;
        flex-direction: column;
        gap: .75em;
        width: 88vw;
        min-height: 50dvh;
    }

    .desc {
        width: 100%;
        min-height: 200px;
        backdrop-filter: blur(1.5px);
        filter: brightness(99%);
        border: 1px solid #3c3c431f;
        border-radius: 16px;
        padding: .5em 0;
    }

    .card-metric {
        width: 100%;
        min-height: 100px;
        background-color: aqua;
        border-radius: 10px;
    }
</style>

